<% include partials/header%>
<p>what movie to watch?</p>
<form action="/results" method="GET">
    <input type="text" placeholder="recherche d'un film" name="search">

</form>


<% include partials/footer %>