<!DOCTYPE html>
<html>
    <head>
        <title>movie search</title>
        <link rel="stylesheet" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet"> 
    </head>
    <body>
        